<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="splstyle.css">

  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />



</head>

<body>
  <header class="header">
    <div class="left">
        CodePatra
    </div>
    <div class="right">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">LogIn</a></li>
                <li><a href="/orgadmin">Admin</a></li>
                <li>Contact Us</li>
            </ul>
        </nav>
    </div>
</header>

  <section class="section1">

    <div class="img1">
      <img src="main.jpg" alt="">

      <div class="img1-text">
        <div class="img1-text1">Welcome to IATTE</div>
        <div class="img1-text2">An online platform which brings the organized & non- organized    agents, the biggest tothe smallest agents from the trade – together. We are promoting responsible & sustainable tourism & we want to bring India closer to the world. Our objective is to empower, connect & sustain.</div>
      </div>

    </div>
  </section>
  <div class="container">
    <form a method="post">
      <div class="title">Login</div>
      <div class="input-box underline">
        <input type="text" name="mobile" placeholder="Enter Your Phone number" required>
        <div class="underline"></div>
      </div>
      <div class="input-box">
        <input type="password" name="password" placeholder="Enter Your Password" required>
        <div class="underline"></div>
      </div>
      <div class="input-box button">
        <input type="submit" name="" value="Continue">
      </div>
    </form>

  </div>
</body>

</html>